@media screen and (min-width: 1025px){
article{
	border: 1px solid #000;
	height: auto;
	width: 20%;
	margin-top: 1%;
	float: left;
	word-wrap: break-word;
	}
}

@media screen and (max-width: 1024px){
article{
	border: 1px solid #000;
	height: auto;
	width: 20%;
	margin-top: 1%;
	float: left;
	word-wrap: break-word;
	}
}

@media screen and (max-width: 768px){
article{
	border: 1px solid #000;
	height: auto;
	width: 100%;
	margin-top: 1%;
	float: left;
	display: none;
	word-wrap: break-word;
	}
}

/*Galaxy S3*/
@media screen and (max-width: 480px){
article{
	border: 1px solid #000;
	height: auto;
	width: 100%;
	margin-top: 1%;
	float: left;
	display: none;
	word-wrap: break-word;
	}
}

@media screen and (max-width: 320px){
article{
	border: 1px solid #000;
	height: auto;
	width: 100%;
	margin-top: 1%;
	/*float: left;*/
	display: none;
	word-wrap: break-word;
	}
}

#menur{
	list-style: none;
}

#menur_login{

}