@media screen and (min-width: 1025px){
aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: auto;
		width: 79%;
		margin-top: 1%;
		float: right;
		word-wrap: break-word;
		margin-bottom: 1%;
		
	}
}

@media screen and (max-width: 1024px){
aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: 100%;
		width: 79%;
		margin-top: 1%;
		float: right;
		word-wrap: break-word;
	}
}

@media screen and (max-width: 768px){

aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: 100%;
		width: 100%;
		margin-top: 1%;
		float: right;
		word-wrap: break-word;
	}
}

/*Galaxy S3*/
@media screen and (max-width: 480px){

aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: 100%;
		width: 100%;
		margin-top: 1%;
		float: right;
		word-wrap: break-word;
	}
}

@media screen and (max-width: 320px){
aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: 100%;
		width: 100%;
		margin-top: 1%;
		/*float: right;*/
		word-wrap: break-word;
	}
}