@media screen and (min-width: 1025px){
aside{
		/*background: blue;*/
		height: auto;
		width: 75%;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		text-align: justify;
		column-count: 2;
		margin-top: 1%;
		float: right;
		word-wrap: break-word;
		margin-bottom: 1%;
		padding: 15px 15px 15px 15px;
		
	}
}

@media screen and (max-width: 1024px){
aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: auto;
		width: 79%;
		margin-top: 1%;
		margin-bottom: 1%;
		float: right;
		word-wrap: break-word;
	}
}

@media screen and (max-width: 768px){

aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: auto;
		width: 100%;
		margin-top: 1%;
		margin-bottom: 1%;
		float: right;
		word-wrap: break-word;
	}
}

/*Galaxy S3*/
@media screen and (max-width: 480px){

aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: auto;
		width: 100%;
		margin-top: 1%;
		margin-bottom: 1%;
		float: right;
		word-wrap: break-word;
	}
}

@media screen and (max-width: 320px){
aside{
		/*background: blue;*/
		border: 1px solid #000;
		height: auto;
		width: 100%;
		margin-top: 1%;
		margin-bottom: 1%;
		/*float: right;*/
		word-wrap: break-word;
	}
}