@media screen and (min-width: 1025px){
header{
	border: 1px solid #000;
	height: 200px;
	}
}

@media screen and (max-width: 1024px){
header{
	border: 1px solid #000;
	height: 70px;
	}
}

@media screen and (max-width: 768px){
header{
	border: 1px solid #000;
	height: 50px;
	}
}

@media screen and (max-width: 480px){
header{
	border: 1px solid #000;
	height: 30px;
	}	
}

@media screen and (max-width: 320px){
header{
	border: 1px solid #000;
	height: 50px;
	}	
}